body{
    font-family: 'Pacifico';
}

h1{
    font-family: 'Pacifico';
}
.container{
    background-color: rgb(55, 17, 55);
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
font-family: 'Pacifico';


}
.title{
    color: white;
    text-align: center;
    font-family: 'Pacifico';
}
.pic{
    margin-top: 10px;
    width: 20%;
    /* height: 60%; */
border-radius: 8%;
    /* background-color: red; */
}
.adj{
    font-weight: bold;
    color: white;
    text-align: center;
    font-style: italic;

}
